/* header 導覽列 */

.main-nav {
  background-color: var(--color-primary-50);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100; /* 讓 navbar 與手機下拉選單疊在頁面內容之上 */
}

.logo {
  padding: 12px 0;
}

.nav-list {
  color: var(--color-neutral-700);
  background-color: var(--color-primary-50);
}

.nav-link {
  display: inline-block;
  padding: 4px 12px;
}

.btn-menu {
  display: none; /* 預設隱藏（桌機版不顯示） */
  border: 0;
  padding: 12px;
  background: transparent; /* 移除按鈕預設背景 */
  color: inherit; /* 繼承父層文字顏色 */
  font: inherit; /* 繼承父層字型設定 */
  cursor: pointer; /* 滑鼠移入時顯示手型游標 */
}

/* 頁面內容佔位區塊，用於模擬實際內容高度 */
.placeholder {
  height: 100vh;
  background-color: #fa0;
}

@media (max-width: 768px) {
  /* 手機版套用的 logo 樣式 */
  .logo {
    padding: 14px 0;
  }

  /* 漢堡選單手機版顯示 */
  .btn-menu {
    display: block;
  }

  /*
    手機版主導覽列預設為收合狀態。
    點擊選單按鈕後，透過加入 active class 切換為展開狀態。
  */
  .nav-list {
    opacity: 0; /* 讓內容透明，但元素本身仍會佔據版面空間 */
    width: 100%;
    max-height: 0px; /* 將高度收合為 0，避免元素佔據垂直空間 */
    overflow: hidden; /* 隱藏超出 max-height 範圍的內容 */
    position: absolute;
    top: 60px;
    left: 0px;
  }

  /* 行動裝置版導覽文字樣式 */
  .label-mobile-sm {
    font-size: 14px;
    font-weight: 500;
  }

  /* 行動裝置版間距 */
  .gap-md-12 {
    gap: 12px;
  }

  /* 第一個選單項目增加上方間距 */
  .nav-list li:first-child {
    padding-top: 12px;
  }

  /* 最後一個選單項目增加下方間距 */
  .nav-list li:last-child {
    padding-bottom: 12px;
  }

  /* 遮罩樣式 */
  .menu-open .mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50; /* 蓋在頁面內容之上，但低於 navbar(100) */
  }

  /* body 要隱藏捲軸 */
  body.menu-open {
    overflow: hidden;
  }

  /* 主導覽列展開狀態 */
  .nav-list.active {
    opacity: 1; /* 讓內容顯示出來 */
    max-height: 176px; /* 使用固定高度控制展開範圍，讓動畫更穩定 */
    display: flex; /* 顯示導覽列，並啟用 flex 排版 */
    flex-direction: column; /* 手機版選單項目改為垂直排列 */
    text-align: center;
    transition:
      opacity 0.3s ease-in,
      max-height 0.3s ease-in; /* 加入淡入與展開動畫 */
  }
}
